<!DOCTYPE html>
<html lang="en">
	

<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="">
		<meta name="author" content="">
		<title>Med-Fi</title>
		<!-- Favicons-->
		<link rel="shortcut icon" href="../static/assets/images/favicon.png">
		<link rel="apple-touch-icon" href="../static/assets/images/apple-touch-icon.png">
		<link rel="apple-touch-icon" sizes="72x72" href="../static/assets/images/apple-touch-icon-72x72.png">
		<link rel="apple-touch-icon" sizes="114x114" href="../static/assets/images/apple-touch-icon-114x114.png">
		<!-- Web Fonts-->
		<link href="https://fonts.googleapis.com/css?family=Hind:400,700%7cLora:400i%7cPoppins:500,600,700" rel="stylesheet">
		<!-- Bootstrap core CSS-->
		<link href="../static/assets/bootstrap/css/bootstrap.min.css" rel="stylesheet">
		<!-- Plugins and Icon Fonts-->
		<link href="../static/assets/css/plugins.min.css" rel="stylesheet">
		<!-- Template core CSS-->
		<link href="../static/assets/css/template.min.css" rel="stylesheet">
	</head>
	<body>

		<!-- Layout-->
		<div class="layout">

			<!-- Header-->
			<header class="header header-center undefined">
				<div class="container-fluid">
					<!-- Logos-->
					<div class="inner-header"><a class="inner-brand" href="index.html"><img class="brand-dark" src="../static/assets/images/logo.png" width="77px" alt=""><img class="brand-light" src="../static/assets/images/logo-light.png" width="77px" alt="">
							<!-- Or simple text-->
							<!-- Core--></a></div>
					<!-- Navigation-->
					<div class="inner-navigation collapse">
						<div class="inner-navigation-inline">
							<div class="inner-nav">
								<ul>
									<!-- Home-->
									<li class="menu-item-has-children menu-item-has-mega-menu"><a href="#">Home</a>
						
									</li>
									<!-- Home end-->
									<!-- Pages-->
									<li class="menu-item-has-children"><a href="#">Features</a>
										
									</li>
									<!-- Pages end-->
									<!-- Portfolio-->
									<li class="menu-item-has-children"><a href="#">Login</a>
										
									</li>
									<!-- Portfolio end-->
									<!-- Blog-->
									<li class="menu-item-has-children"><a href="#">Sign Up</a>
					
									</li>
									<!-- Blog end-->
									
								</ul>
							</div>
						</div>
					</div>
					<!-- Extra menu-->
					<div class="extra-nav">
						<ul>
							<li><a class="open-offcanvas" href="#"><span>Menu</span><span class="fa fa-bars"></span></a></li>
						</ul>
					</div>
					<!-- Mobile menu-->
					<div class="nav-toggle"><a href="#" data-toggle="collapse" data-target=".inner-navigation"><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></a></div>
				</div>
			</header>
			<!-- Header end-->

			<!-- Wrapper-->
			<div class="wrapper">

				<!-- Page Header-->
				<section class="module-header full-height parallax bg-dark bg-dark-60" data-background="../static/assets/images/module-29.jpg">
					<div id="particles-js"></div>
					<div class="container">
						<div class="row">
							<div class="col-md-12">
		
								<h1 class="h2 m-b-20"><span class="rotate">Hardware and Software | Machine Learning and Robotics</span></h1>
								<p class="m-b-30">Med-Fi is a complete patient management system that helps doctors make better diagnosis.</p>
								
								<a class="btn btn-lg btn-outline btn-circle btn-white" href="#">Login</a>
								</p>
							</div>
						</div>
					</div>
				</section>
				<!-- Page Header end-->
				
				
				<!-- Alt Services-->
				<section class="module module-divider-bottom">
					<div class="container">
						<div class="row">
							<div class="col-md-8 m-auto">
								<div class="module-title text-center">
									<h2>Features</h2>
									<p class="font-serif">Complete patient management package powered by ML and Robotics </p>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-4">
								<div class="m-t-30"></div>
								<div class="icon-box icon-box-left">
									<div class="icon-box-icon"><span class="icon icon-basic-gear"></span></div>
									<div class="icon-box-title">
										<h6>Medicine Dispensing Robot</h6>
									</div>
									<div class="icon-box-content">
										<p>Medifi is powered by a robot called Medibot that helps the nurse to dispense medicine to the patients. </p>
									</div>
								</div>
								<div class="icon-box icon-box-left">
									<div class="icon-box-icon"><span class="icon icon-basic-webpage-img-txt"></span></div>
									<div class="icon-box-title">
										<h6>Patient management Software</h6>
									</div>
									<div class="icon-box-content">
										<p>An online cloud based Patient Management software is used to store and collect the data from the patients.</p>
									</div>
								</div>
								<div class="icon-box icon-box-left">
									<div class="icon-box-icon"><span class="icon icon-basic-heart"></span></div>
									<div class="icon-box-title">
										<h6>Heartbeat Variation Detection</h6>
									</div>
									<div class="icon-box-content">
										<p>Medibot has an inbuilt stethescope that can be used to detect heartbeat anomalies using machine learning</p>
									</div>
								</div>
							</div>
							<div class="col-md-4 hidden-sm-down">
								<div class="text-center"><img src="../static/assets/images/iphone.png" alt=""></div>
							</div>
							<div class="col-md-4">
								<div class="m-t-30"></div>
								<div class="icon-box icon-box-left">
									<div class="icon-box-icon"><span class="icon icon-basic-target"></span></div>
									<div class="icon-box-title">
										<h6>X-Ray anomaly detection and diagnosis</h6>
									</div>
									<div class="icon-box-content">
										<p>When a user uploads a chest x-ray our ML Algorithms detect the presence of known anomalies to assist diagnosis </p>
									</div>
								</div>
								<div class="icon-box icon-box-left">
									<div class="icon-box-icon"><span class="icon icon-basic-rss"></span></div>
									<div class="icon-box-title">
										<h6>Rfid based authentication</h6>
									</div>
									<div class="icon-box-content">
										<p>Every patient is awarded an RFID tag that acts as a key for all his data. It simplifies authentication and data access across multiple hospitals</p>
									</div>
								</div>
								<div class="icon-box icon-box-left">
									<div class="icon-box-icon"><span class="icon icon-basic-lock"></span></div>
									<div class="icon-box-title">
										<h6>Data management functionality</h6>
									</div>
									<div class="icon-box-content">
										<p>External agents like pharmacies can access the patient data history only with the the permission form the Doctor</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</section>
				<!-- Alt Services end-->
				<!-- Footer-->
				<footer class="footer">
					<div class="container">
						<div class="row">
							<div class="col-md-12">
								<div class ="text-center">
								<!-- Text widget-->
								<aside class="widget widget_text">
									<div class="textwidget">
										<p><img src="../static/assets/images/logo-light.png" width="100" alt=""></p>
										<p>Complete patient management package that offers predictive diagnosis on Xrays and Heart Beat powered by ML and Robotics</p>
										
									</div>
								</aside>
							</div>
						</div>
							
						</div>
					</div>
					<div class="footer-copyright">
						<div class="container">
							<div class="row">
								<div class="col-md-12">
									<div class="text-center"><span class="copyright">© 2018 Developed  by <a href="#">Team Ayush</a></span></div>
								</div>
							</div>
						</div>
					</div>
				</footer>
				<!-- Footer end-->

				<a class="scroll-top" href="#top"><i class="fa fa-angle-up"></i></a>
			</div>
			<!-- Wrapper end-->

		</div>
		<!-- Layout end-->

		<!-- Off canvas-->
		<div class="off-canvas-sidebar">
			<div class="off-canvas-sidebar-wrapper">
				<div class="off-canvas-header"><a class="close-offcanvas" href="#"><span class="arrows arrows-arrows-remove"></span></a></div>
				<div class="off-canvas-content">
					<!-- Text widget-->
					<aside class="widget widget_text">
						<div class="textwidget">
							<p class="text-center"><img src="../static/assets/images/logo-light.png" width="100" alt=""></p>
						</div>
					</aside>
					<!-- Text widget-->
					
					<!-- Navmenu widget-->
					<aside class="widget widget_nav_menu">
						<ul class="menu">
							<li class="menu-item menu-item-has-children"><a href="#">Home</a></li>
							<li class="menu-item"><a href="#">Features</a></li>
							<li class="menu-item"><a href="#">Login</a></li>
							<li class="menu-item"><a href="#">Signup</a></li>
							
						</ul>
					</aside>
					
				</div>
			</div>
		</div>
		<!-- Off canvas end-->

		<!-- Scripts-->
		<script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
		<script src="../static/assets/bootstrap/js/bootstrap.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.min.js"></script>
		<script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyA0rANX07hh6ASNKdBr4mZH0KZSqbHYc3Q"></script>
		<script src="../static/assets/js/plugins.min.js"></script>
		<script src="../static/assets/js/charts.js"></script>
		<script src="../static/assets/js/custom.min.js"></script>

	</body>


</html>